.{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

/* classes css */
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
.logo{
    width: 200px;
    margin: 5px 0 0 40px;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}
.quantum{
    margin-top: 30px;
    margin-left: 50px;
    width: 60%;
    height: 400px;
    background: rgba(247, 250, 247, 0.728);
    display: inline-block;
}
.side{
    margin-top: 30px;
    margin-left: 20px;
    width: 30%;
    height: 435px;
    background: rgba(247, 250, 247, 0.543);
    display: inline-block;
    position: absolute;

}
.btn {
    background: #0fff9f;
    background-image: -webkit-linear-gradient(top, #0fff9f, #2b7fb8);
    background-image: -moz-linear-gradient(top, #0fff9f, #2b7fb8);
    background-image: -ms-linear-gradient(top, #0fff9f, #2b7fb8);
    background-image: -o-linear-gradient(top, #0fff9f, #2b7fb8);
    background-image: linear-gradient(to bottom, #0fff9f, #2b7fb8);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Signika', sans-serif;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
    margin: 30px;
  }
  
  .btn:hover {
    background: #028f56;
    background-image: -webkit-linear-gradient(top, #028f56, #0a5180);
    background-image: -moz-linear-gradient(top, #028f56, #0a5180);
    background-image: -ms-linear-gradient(top, #028f56, #0a5180);
    background-image: -o-linear-gradient(top, #028f56, #0a5180);
    background-image: linear-gradient(to bottom, #028f56, #0a5180);
    text-decoration: none;
  }
  .qr-code-image{
    width: 200px;
    margin-left: 90px;
  }
/* html tags css */
h2{
    font-size: 35px;
    margin: 40px 0 30px 30px ;
    font-family: 'Kaushan Script', cursive;

}

h1{
    color: white;
    display: inline-block;
    font-size: 60px;
    position: absolute;
    top: 5px;
    text-align: center;
    margin-left: 30px;
    font-family: 'Signika', sans-serif;
}
span{
    font-size: 40px;
    color: yellow;
    font-family: 'Kaushan Script', cursive;
}
.scan{
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
}
h3{
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 0px;;
}
p{
    margin: 0px;
}
.name{
    margin-top: 0px;
    margin-left: 175px;
    color: blue;
}



@media only screen and (max-width: 395px) {
  
    html,body{
       margin: 0;
       padding: 0;
       font-family: "poppins", sans-serif; 
       overflow-y: hidden;
    }
 
 
    .container{
    display: flex;
 }
 
    .header .logo {
    width: 100px;
    margin: 5px 0 0 5px;
}
h1 {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    position: absolute;
    top: 20px;
    text-align: center;
    margin-left: 2px;
    
    FONT-WEIGHT: 500;
}
span {
    font-size: 30px;
    color: yellow;
    font-family: 'Kaushan Script', cursive;
}

.quantum {
    height: 400px;
    margin-top: 30px;
    margin-left: 20px;
    width: 90%;
    background: rgba(247, 250, 247, 0.728);
    /* display: inline-block; */
}

h2 {
    font-size: 35px;
    margin: 4px 0 10px 30px;
    font-family: 'Kaushan Script', cursive;
}
.btn {
    
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Signika', sans-serif;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
    margin: 0px 0px 10px 10px;
}

.side {
    margin-top: 450px;
    margin-left: 20px;
    width: 90%;
    
}
.scan {
    font-size: 25px;
    text-align: center;
    margin-left: 0px;
}

.qr-code-image {
    width: 150px;
    margin-left: 85px;
}

h3 {
    padding: 5px;
    margin-left: 1px;
    margin-bottom: 2px;
}

.name {
    margin-top: 0px;
    margin-left: 5px;
    color: blue;
}
}
